// IDs of state-specific record pages
const TEST_DATA = {
  on_order: 't12345',
}

const PROD_DATA = {
  on_order: 'p12345',
}

const environments = [
  { name: 'test', url_prefix: 'https://test.vufind.someuniversity.edu', records: TEST_DATA },
  { name: 'production', url_prefix: 'https://production.vufind.someuniversity.edu', records: PROD_DATA },
]

const cookie = {
  url: 'https://cookies.someuniversity.edu/?setcookie',
  name: 'selenium-testing',
  value: '1',
}

module.exports = { 
  environments, 
  cookie,
};
