const environments = [
  { name: 'test', url_prefix: 'https://test.vufind.someuniversity.edu' },
  { name: 'production', url_prefix: 'https://production.vufind.someuniversity.edu' },
]

const cookie = {
  url: 'https://cookies.someuniversity.edu/?setcookie',
  name: 'selenium-testing',
  value: '1',
}

module.exports = { 
  environments, 
  cookie,
};
